.contest__heading-wrapper {
  text-align: center;
}

.contest__heading {
  @include reset;

  padding-top: 45px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contest__heading {
    padding-top: 90px;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    &--hidden {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .contest__heading {
    margin-right: 80px;
    margin-left: 80px;

    &--hidden {
      margin: 0;
      margin-left: 5px;
    }
  }
}
