.copyrights {
  &--index {
    display: none;
  }
}

.copyrights__wrapper {
  @include d-flex (nowrap, column, space-between, center);

  height: 195px;
}

.copyrights__social-list {
  @include list-reset;
  @include d-flex (wrap, row, space-between, flex-start);

  width: 175px;
  margin-top: 8px;
}

.copyrights__social-link {
  position: relative;

  display: block;
  width: 45px;
  height: 45px;

  color: $main-color;

  border: 3px solid rgba($extra-color, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $extra-color;
  }

  &:active {
    color: rgba($main-color, 0.3);

    border-color: rgba($extra-color, 0.1);
  }
}

.copyrights__link-image {
  @include abs-center;
}

.copyrights__developer-link {
  position: relative;
  top: 8px;
}

@media (min-width: $tablet-width) {
  .copyrights {
    &--index {
      display: block;
      padding-top: 35px;
    }
  }

  .copyrights__logo-link {
    position: relative;
    top: -3px;
  }

  .copyrights__wrapper {
    flex-direction: row;
    height: auto;
  }

  .copyrights__social-list {
    position: relative;
    top: 2px;
    left: -8px;
  }
}

@media (min-width: $desktop-width) {
  .copyrights {
    &--index {
      padding-top: 75px;
    }
  }

  .copyrights__logo-link {
    top: -10px;
  }

    .copyrights__social-list {
    position: static;

    margin-top: 3px;
  }

  .copyrights__developer-link {
    position: static;
  }
}
