.developer {
  @include d-flex (nowrap, row, space-between, center);

  width: 100px;
}

.developer__name {
  color: $extra-color;
}

.developer__image {
  color: $main-color;

  &:hover,
  &:focus {
    color: $extra-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .developer {
    width: 120px;
  }

  .developer__name {
    font-size: 18px;
  }
}
