.download-pink__wrapper {
  @include d-flex(nowrap, column, flex-start, center);

  min-height: 210px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.download-pink__general-link {
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 32px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 50px;
}

.download-pink__links-list {
  @include d-flex(nowrap, row, space-between, center);
  @include list-reset;

  width: 205px;
  margin-bottom: 25px;
}

.download-pink__links-item {
  @include reset;
}

.download-pink__links-link {
  @include reset;
}

.download-pink__links-image {
  @include reset;

  display: block;
}

.download-pink__description {
  @include reset;

  max-width: 240px;

  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
