.gallery__heading-wrapper {
  text-align: center;
}

.gallery__heading {
  @include reset;

  padding-top: 45px;
  padding-bottom: 50px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .gallery__usual-posts {
    @include d-flex (wrap, row, flex-start, shrink);
  }
}
