.gallery__heading-wrapper {
  text-align: center;
}

.gallery__heading {
  @include reset;

  padding: 45px 35px 50px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .gallery__heading {
    padding: 92px 50px 75px;

    font-size: 18px;
  }

  .gallery__usual-posts {
    @include d-flex (wrap, row, flex-start, shrink);
  }
}

@media (min-width: $desktop-width) {
  .gallery__heading {
    padding-right: 170px;
    padding-bottom: 86px;
    padding-left: 170px;
  }
}
