.logo {
  &--header {
    color: #ffffff;

    &:hover,
    &:focus {
      color: $main-color;
    }

    &:active {
      color: #ffffff;

      opacity: 0.3;
    }
  }

  &--footer {
    color: $extra-color;

    &:hover,
    &:focus {
      color: $main-color;
    }

    &:active {
      color: $extra-color;

      opacity: 0.3;
    }
  }
}

.logo__image {
  &--header,
  &--mobile,
  &--gadget {
    display: block;
  }

  &--tablet,
  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    &--header {
      padding-top: 5px;
    }

    &--tablet,
    &--gadget {
      display: block;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    &--header {
      color: #ffffff;

      &:hover,
      &:focus {
        color: $main-color;
      }

      &:active {
        color: #ffffff;

        opacity: 0.3;
      }
    }

    &--footer {
      color: $extra-color;

      &:hover,
      &:focus {
        color: $main-color;
      }

      &:active {
        color: $extra-color;

        opacity: 0.3;
      }
    }
  }

  .logo__image {
    &--header {
      padding-top: 2px;
    }

    &--mobile,
    &--tablet,
    &--gadget {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
