.page-footer {
  padding-top: 40px;
  padding-bottom: 50px;

  &--index {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 35px;
    padding-bottom: 35px;

    &--index {
      padding-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 75px;
    padding-bottom: 75px;

    &--index {
      padding-top: 0;
    }
  }
}
