.page-header {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -220px;

  &--index {
    background-position: center bottom 273px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-header__heading-section {
  @include reset;
}

.page-header__heading-wrapper {
  min-height: 172px;
}

.page-header__heading {
  @include reset;

  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;

  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center bottom -290px;

    &--index {
      background-position: bottom;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-header__heading-wrapper {
    min-height: 330px;
  }

  .page-header__heading {
    padding-top: 65px;

    font-size: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .page-header__heading-wrapper {
    min-height: 285px;

    &--gallery {
      width: 500px;
    }
  }

  .page-header__heading {
    padding-top: 60px;
  }
}
