.popup-alert {
  width: 320px;
  margin: 0 auto;

  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);

  &--error {
    padding: 45px 0 50px;
  }

  &--success {
    padding-top: 45px;
  }
}

.popup-alert__content {
  text-align: center;
}

.popup-alert__heading {
  @include reset;

  margin-bottom: 30px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popup-alert__message {
  @include reset;

  padding-right: 20px;
  padding-left: 20px;

  line-height: 24px;

  &--success {
    margin-bottom: 32px;
  }

  &--error {
    margin-bottom: 42px;
  }
}

.popup-alert__button-wrapper {
  @include d-flex (nowrap, column, center, center);

  min-height: 163px;

  background-color: #f2f2f2;
}

.popup-alert__button {
  @include reset;

  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
