.popup-alert {
  display: none;
  width: 320px;
  margin: 0 auto;

  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);

  &--error {
    padding: 45px 0 50px;
  }

  &--success {
    padding-top: 45px;
  }

  &--show {
    display: block;
  }
}

.popup-alert__content {
  text-align: center;
}

.popup-alert__heading {
  @include reset;

  margin-bottom: 30px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.popup-alert__message {
  @include reset;

  box-sizing: border-box;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;

  line-height: 24px;

  &--success {
    margin-bottom: 32px;
  }

  &--error {
    margin-bottom: 42px;
  }
}

.popup-alert__button-wrapper {
  @include d-flex (nowrap, column, center, center);

  width: 100%;
  height: 163px;

  background-color: #f2f2f2;

  &--error {
    min-height: 0;

    background-color: #ffffff;
  }
}

.popup-alert__button {
  @include reset;

  width: 280px;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .popup-alert {
    &--error {
      width: 460px;
      min-height: 0;
    }

    &--success {
      width: 460px;
      min-height: 0;
    }
  }

  .popup-alert__content {
    @include d-flex (nowrap, column, space-between, center);
  }

  .popup-alert__heading {
    padding-right: 115px;
    padding-left: 115px;

    font-size: 30px;
    line-height: 40px;
  }

  .popup-alert__message {
    padding-right: 70px;
    padding-left: 70px;

    font-size: 18px;
  }

  .popup-alert__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .popup-alert {
    width: 780px;
    height: 377px;
    padding-top: 0;
    padding-bottom: 0;

    border-radius: 4px;
  }

  .popup-alert__content {
    @include d-flex (nowrap, column, flex-start, center);

    height: 100%;
  }

  .popup-alert__heading {
    margin-top: 45px;
    margin-bottom: 25px;
  }

  .popup-alert__message {
    margin-bottom: 0;
    padding-right: 200px;
    padding-left: 200px;
  }

  .popup-alert__button-wrapper {
    height: 163px;
    margin-top: auto;

    &--error {
      background-color: #f2f2f2;
    }
  }

  .popup-alert__button {
    &--success {
      width: 460px;
    }
  }
}
