.pricing {
  min-height: 508px;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.pricing__table-wrapper {
  position: relative;
}

.pricing__toggles {
  padding-top: 100px;
}

@media (min-width: $tablet-width) {
  .pricing {
    min-height: 395px;
  }

  .pricing__table-wrapper {
    padding-top: 110px;
  }

  .pricing__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .pricing {
    min-height: 530px;

    background-size: 100%;
  }

  .pricing__table-wrapper {
    padding-top: 155px;
  }
}
