.pricing {
  min-height: 465px;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center top -34px;
}

.pricing__table-wrapper {
  position: relative;
}

@media (min-width: $tablet-width) {
  .pricing {
    min-height: 375px;

    background-position: center top -20px;
  }

  .pricing__table-wrapper {
    padding-top: 90px;
  }

  .pricing__toggles{
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .pricing {
    min-height: 555px;

    background-position: center top;
    background-size: 100%;
  }

  .pricing__table-wrapper {
    padding-top: 180px;
  }
}
