.processing-form {
  @include d-flex (nowrap, column, flex-start, center);

  position: relative;

  padding-bottom: 15px;
}

.processing-form__fieldset {
  @include reset;

  padding-bottom: 13px;

  border: none;
}

.processing-form__inputs {
  @include d-flex (wrap, row, space-between, center);

  width: 200px;
  padding-top: 28px;
}

.processing-form__label {
  font-size: 0;

  cursor: pointer;

  fill: #b5b9be;

  &:hover,
  &:focus {
    fill: #8d949b;
  }

  &:active {
    fill: $main-color;
  }
}

.processing-form__range {
  @include reset;

  display: none;
  width: 240px;
  min-height: 16px;
  margin-top: 12px;
  margin-bottom: 16px;

  background-color: transparent;
  outline: none;

  appearance: none;

  &::-webkit-slider-runnable-track {
    width: 240px;
    height: 2px;

    background: $extra-color;
    cursor: pointer;

    animate: 0.2s;
  }

  &::-webkit-slider-thumb {
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    margin-top: -6px;

    background: #ffffff;
    border: 2px solid $main-color;
    border-radius: 50%;
    cursor: pointer;

    appearance: none;
  }

  &:focus::-webkit-slider-runnable-track {
    outline: none;
  }

  &:focus::-webkit-slider-thumb {
    background: $main-color;
  }

  &::-moz-range-track {
    width: 240px;
    height: 2px;

    background: $extra-color;
    cursor: pointer;

    animate: 0.2s;
  }

  &::-moz-range-thumb {
    width: 10px;
    height: 10px;

    background: #ffffff;
    border: 2px solid $main-color;
    border-radius: 50%;
    cursor: pointer;
  }

  &:focus::-moz-range-thumb {
    background: $main-color;
  }

  &::-ms-track {
    width: 240px;
    height: 2px;

    color: transparent;

    background: transparent;
    border-width: 0;
    border-color: transparent;
    cursor: pointer;

    animate: 0.2s;
  }

  &::-ms-fill-lower {
    background: $extra-color;
  }

  &::-ms-fill-upper {
    background: $extra-color;
  }

  &::-ms-thumb {
    width: 10px;
    height: 10px;

    background: #ffffff;
    border: 2px solid $main-color;
    border-radius: 50%;
    cursor: pointer;
  }

  &:focus::-ms-thumb {
    background: $main-color;
  }
}

.processing-form__radio {
  &:checked + .processing-form__label {
    fill: $main-color;
  }

  &--crop:checked ~ .processing-form__range--crop,
  &--fill:checked ~ .processing-form__range--fill,
  &--contrast:checked ~ .processing-form__range--contrast {
    display: block;
  }
}

.processing-form__buttons-wrapper {
  @include d-flex (nowrap, column, flex-start, center);

  width: 320px;
  padding-top: 40px;
  padding-bottom: 16px;

  border-top: 1px solid #dddfe0;
}

.processing-form__button {
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 12px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border: 3px solid;
  border-radius: 50px;

  background-color: transparent;

  &--submit {
    color: $main-color;

    border-color: $main-color;

    &:hover,
    &:focus {
      color: #ffffff;

      background-color: $main-color;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--reset {
    color: $extra-color;

    border-color: $extra-color;
    opacity: 0.1;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      background-color: $extra-color;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .processing-form {
    @include d-flex (wrap, row, flex-start, flex-start);

    max-width: 275px;
    padding-top: 10px;
    padding-right: 20px;
  }

  .processing-form__fieldset {
    @include reset;

    flex-direction: column;
    align-items: center;
    width: 54px;
    height: 173px;
  }

  .processing-form__wrapper {
    justify-content: space-between;
  }

  .processing-form__label {
    position: relative;

    height: 22px;
    margin-right: 30px;

    fill: $main-color;

    &:not(:last-of-type) {
      margin-bottom: 50px;
    }

    &:hover,
    &:focus {
      fill: $main-color;
    }

    &--crop svg {
      width: 22px;
      height: 22px;
    }

    &--fill svg {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      align-self: center;

      & svg {
        width: 16px;
        height: 16px;
      }
    }

    &::after {
      @include abs-pseudo;

      bottom: -22px;
      left: 0;

      width: 275px;
      height: 1px;

      background-color: #dddfe0;
    }
  }

  .processing-form__inputs {
    @include d-flex (wrap, column, flex-start, flex-start);

    height: 170px;
    padding-top: 2px;
  }

  .processing-form__range {
    display: block;
    width: 202px;
    margin: 0;

    &:not(:last-of-type) {
      margin-bottom: 54px;
    }

    &::-webkit-slider-runnable-track {
      width: 202px;
    }

    &::-moz-range-track {
      width: 202px;
    }

    &::-ms-track {
      width: 202px;
    }
  }

  .processing-form__buttons-wrapper {
    justify-content: space-around;
    padding-top: 83px;
    padding-right: 10px;
    padding-bottom: 0;

    border: none;
  }

  .processing-form__button {
    max-width: 260px;

    &--submit {
      margin-bottom: 27px;
    }

    &--reset {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .processing-form {
    max-width: 410px;
    padding-top: 0;
    padding-right: 60px;
  }

  .processing-form__range {
    width: 288px;

    &:nth-of-type(1) {
      margin-top: 10px;
      margin-bottom: 57px;
    }

    &:nth-of-type(2) {
      margin-top: 0;
      margin-bottom: 50px;
    }

    &::-webkit-slider-runnable-track {
      width: 288px;
    }

    &::-moz-range-track {
      width: 288px;
    }

    &::-ms-track {
      width: 288px;
    }
  }

  .processing-form__fieldset {
    width: 92px;
    height: 200px;
  }

  .processing-form__label {
    margin-right: 44px;

    &::after {
      bottom: -33px;
      left: -8px;

      width: 410px;
      height: 1px;
    }

    &--crop svg {
      width: 48px;
      height: 48px;
    }

    &--fill svg {
      width: 48px;
      height: 48px;
    }

    &--contrast svg {
      width: 32px;
      height: 32px;
    }
  }

  .processing-form__inputs {
    height: 180px;
    padding-top: 0;
  }

  .processing-form__buttons-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 146px;
    padding-right: 0;
  }

  .processing-form__button {
    max-width: 183px;

    &--submit {
      margin: 0;
    }
  }
}
