.reviews {
  position: relative;

  padding-top: 40px;
}

.reviews__list {
  padding-bottom: 55px;
}

.reviews__item {
  @include reset;

  text-align: center;
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  &--about {
    display: none;
  }
}

.reviews__text {
  @include reset;

  margin-top: 12px;
}

.reviews__toggles {
  position: absolute;

  margin: 0;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 10px;
  }

  .reviews__wrapper {
    padding-bottom: 0;
  }

  .reviews__list {
    padding-bottom: 47px;
  }

  .reviews__item {
    @include d-flex (nowrap, column, flex-start, center);
  }

  .reviews__author {
    @include d-flex (nowrap, column, flex-start, center);

    order: 1;
    margin-top: 33px;

    font-size: 20px;

    &--about {
      display: inline;
      margin-top: 3px;

      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
    }
  }

  .reviews__text {
    order: 0;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 45px;
    padding-bottom: 0;

    background-image: url("../img/icon-quotes.svg");
    background-size: 79px 64px;
    background-repeat: no-repeat;
    background-position: center 70px;
  }

  .reviews__list {
    padding-bottom: 32px;
  }

  .reviews__item {
    padding-top: 130px;
  }

  .reviews__author {
    margin-top: 35px;

    font-size: 24px;

    &--about {
      margin-top: 3px;

      font-size: 18px;
    }
  }

  .reviews__text {
    max-width: 740px;
    padding-right: 90px;
    padding-left: 90px;
  }

  .reviews__toggles {
    display: none;
  }
}
