.slider {
  position: relative;
}

.slider__label {
  position: absolute;

  z-index: 10;

  width: 6px;
  height: 6px;

  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.slider__arrow {
  display: none;
}

.slider__item {
  &--hidden {
    display: none;
  }
}

.slider__toggles {
  position: absolute;

  &--reviews .slider__label--first {
    top: -16px;
    left: 112px;
  }

  &--reviews .slider__label--second {
    top: -16px;
    left: 138px;
  }

  &--reviews .slider__label--third {
    top: -16px;
    left: 162px;
  }

  &--pricing .slider__label--first {
    top: 155px;
    left: 132px;
  }

  &--pricing .slider__label--second {
    top: 155px;
    left: 158px;
  }

  &--pricing .slider__label--third {
    top: 155px;
    left: 182px;
  }
}

// .slider__toggle:checked ~ .slider__label {
//   background-color: #ffffff;
//   border: 3px solid $extra-color;
// }

@media (min-width: $tablet-width) {
  .slider__toggles {
    &--reviews .slider__label--first {
      top: -10px;
      left: 282px;
    }

    &--reviews .slider__label--second {
      top: -10px;
      left: 307px;
    }

    &--reviews .slider__label--third {
      top: -10px;
      left: 332px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider__label {
    display: none;
  }

  .slider__arrow {
    position: absolute;
    top: -193px;

    display: block;
    width: 50px;
    height: 42px;

    font-size: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;

    &--left {
      left: -13px;
    }

    &--right {
      left: 905px;
    }

    & path {
      fill: $extra-color;
    }

    & svg {
      opacity: 0.3;
    }

    &:hover,
    &:focus{
      outline: none;

      & svg {
        opacity: 0.6;
      }
    }

    &:active {
      padding: 0;

      & svg {
      opacity: 0.1;
      }
    }
  }
}
