.slider {
  position: relative;
}

.slider__label {
  position: absolute;

  z-index: 10;

  width: 6px;
  height: 6px;

  background-color: rgba($extra-color, 0.3);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($extra-color, 0.6);
  }

  &:active {
    background-color: rgba($extra-color, 0.1);
  }
}

.slider__arrow {
  display: none;
}

.slider__item {
  opacity: 1;

  transition: opacity .5s linear;

  &--hidden {
    position: absolute;

    left: -3000%;

    opacity: 0;
  }
}

.slider__toggles {
  position: absolute;
}

.slider__toggles--reviews .slider__label--first {
  top: -16px;
  left: 112px;
}

.slider__toggles--reviews .slider__label--second {
  top: -16px;
  left: 138px;
}

.slider__toggles--reviews .slider__label--third {
  top: -16px;
  left: 162px;
}

.slider__toggles--pricing .slider__label--first {
  top: 155px;
  left: 132px;
}

.slider__toggles--pricing .slider__label--second {
  top: 155px;
  left: 158px;
}

.slider__toggles--pricing .slider__label--third {
  top: 155px;
  left: 182px;
}

.slider__toggle:nth-child(1):checked ~ .slider__label--first,
.slider__toggle:nth-child(2):checked ~ .slider__label--second,
.slider__toggle:nth-child(3):checked ~ .slider__label--third {
  background-color: #ffffff;
  border: 3px solid $extra-color;
  transform: translate(-25%, -25%);
}

@media (min-width: $tablet-width) {
  .slider__toggles--reviews .slider__label--first {
    top: -10px;
    left: 282px;
  }

  .slider__toggles--reviews .slider__label--second {
    top: -10px;
    left: 307px;
  }

  .slider__toggles--reviews .slider__label--third {
    top: -10px;
    left: 332px;
  }
}

@media (min-width: $desktop-width) {
  .slider__label {
    display: none;
  }

  .slider__arrow {
    position: absolute;
    top: -195px;

    display: block;
    width: 24px;
    height: 43px;
    padding: 0;

    font-size: 0;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    z-index: 1;

    &--left {
      left: -1px;

      background-image: url("../img/icon-review-arrow-left.svg");
    }

    &--right {
      left: 917px;

      background-image: url("../img/icon-review-arrow-right.svg");
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      padding: 0;

      opacity: 0.1;
    }
  }
}
