.web-app__heading-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;

  text-align: center;
}

.web-app__heading {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .web-app__heading-wrapper {
    padding-bottom: 52px;
  }

  .web-app__heading {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .web-app__heading-wrapper {
    padding-top: 0;
  }
}
